body{
	font-weight: $font-weight-normal;
}

.font-menu{
	font-family: 'Montserrat', "Roboto" !important;
}
.navbar .megamenu{ 
	padding: 2rem;
}


.project-showcase{
	&:hover{
		background: 4px 5px rgba(255, 255, 255, .6);
	    box-shadow: 0 2px 6px -4px rgb(0 0 0 / 20%), 0 8px 10px -4px rgb(0 0 0 / 14%), 0 8px 12px 4px rgb(0 0 0 / 5%);
	    z-index: 10;
	    transition: all .3s ease-in;
	}

	.project-thumb{
		position: relative;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    border-radius: 3px 3px 0 0;
	    min-height: 175px;
	}
}

#home-cover{
	position: relative;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 530px;
    background-size: cover;
}



.v-menu{
	.title{
		margin-bottom: 1rem;
	}
	li{
		a{
			padding: .4rem 0 .4rem 0;
			color: $gray-700;
			margin:  .5rem 0 .5rem 0;
			text-decoration: none;
		}
	}
}

.nav-tabs{
	.nav-link{
		font-size: 1.1rem;
		color: $gray-900;
		&:hover{
			border-color: transparent !important;
			background: transparent !important;
		}
	}
	.active{
		background: transparent !important;
		border: none !important;
		color: $success !important;
		border-bottom: 4px solid $success !important;
		&:hover{
			border-bottom: 4px solid $success !important;
		}
	}
		
}

.nav-profile-photo{
	width: 30px;
	height: 30px;
	display: inline-block;
}

.home-category{
	list-style: none;
	li{
		margin-right: 1rem;
		a{
			color: $gray-900;
			font-size: .9rem;
			text-decoration: none;
			display: inline-block;
			padding: .5rem;
			min-width: 250px;
			&:hover{
				background-color: #F2F3F4;
		    	border-radius: 2px;
			}
		}
	}
}

.js .custome-file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.custome-file-input + label {
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	overflow: hidden;
	border: 4px dotted #83c5cd;
	color: #439ca7;
	background-color: #f0f8f9;
	opacity: .6;
}

.no-js .custome-file-input + label {
	display: none;
}

.custome-file-input:focus + label,
.custome-file-input.has-focus + label,
.custome-file-input + label:hover {
	outline: 0;
	outline: -webkit-focus-ring-color auto 0;
	opacity: 1;
	background-color: #f1f9f9;
}